<!DOCTYPE html>
<html lang="en">
<head>
    <title>index</title>
    <link rel="stylesheet" href="static/styleessence.css">
</head>
<body>
    <div class="header">
        <h1>Для чего нужен дизайнер?</h1>
     </div>
    </div>
    <div class="navbar">
    <a href="/about">О дизайнерах</a>
    <a href="/">Главная</a>
    <a href="/the best employees">Лучшие дизайнеры</a>
    </div>
  <div>
  <img class="esimg"src='https://www.dalee.ru/sites/default/files/blog/2021/art.jpg'>
  <h2>1. Нет времени</h2><p class="text">Желая сделать ремонт самостоятельно, нужно найти ответы на огромное количество вопросов, <br>
    например, какие использовать отделочные материалы, какие розетки и где устанавливать, сколько требуется краски для отделки стен и пр. <br>
    Изучая эти моменты, вы потратите много времени, которое могли посвятить семье или себе. <br>
    Нанимая дизайнера, вы тратите около часа на обсуждение пожеланий в дизайне. Все остальные моменты решает профессионал.
<br>
 <br>

  </p>
<h2>2. Ограниченный бюджет</h2><p class="text">С профессиональной помощью вы потратите на ремонт не больше запланированной суммы. <br>
  Дизайнер создаст проект, который послужит подробным руководством для реализации задуманного. Чертежи помогут избежать строительных и<br>
   инженерных ошибок, переделка которых требует немалых денег.</p>
  

</body>
</html>