<!DOCTYPE html>
<html lang="en">
<head>
    <title>index</title>
    <link rel="stylesheet" href="static/styleindex.css">
</head>
<body>
    <div class="header">
        <h1> Представление работ и услуг дизайнера.</h1>
     </div>
    </div>
    <div class="navbar">
    <a href="/about">О дизайнерах</a>
    <a href="/essence">Обзор</a>
    <a href="/the best employees">Лучшие дизайнеры</a>
    <a class="auth" href="/register">Зарегистрироваться</a>
    </div>
    <img id="indeximg"src="https://248006.selcdn.ru/main/iblock/42f/42f0e5c6d6a0fba977bedc94957ded79/3d7fb794568d0980c79d06a63b745b73.png">
     <div class="text">

        <h2>О нас</h2>
       <small><h3>30.01.2024</h3></small>
     </div>
     <div class="text2">
        <p >Чтобы получить действительно уникальный и оригинальный интерьер, недостаточно знаний, полученных в интернете. <br>
          Поэтому многие задумываются о том, чтобы пригласить профессионала, который продумает дизайн помещений до мелочей.<br>
           Но поскольку это удовольствие не из дешевых, любопытно узнать, что входит в услуги дизайнера. </p>
        
        
      
     </div>
</body>
</html>