.header {
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 70px;
  background: #243848;
  color: white
  }
  body{
  margin: 0px;
  }
  .navbar {
  background: #344f66;
  overflow: hidden;
  }
  .navbar a {
      float: left;
      display: block;
      color: white;
   text-align: center ;
   padding: 30px;
   text-decoration: none;
  }
  .navbar a:hover {
  background-color: white;
  color: black;
  } 
  
  .text{
  font-family:'Lato', sans-serif;
  font-size:20px;
  margin-left: 15px;
  }
  .text2{
      font-family: 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 22px;
  
  }
  .auth{
    position: absolute;
    margin-left: 1250px;
    top: 220px
  }
  #indeximg{
    width: 700px;
    height: 400px;
    margin-left: 370px;
    padding: 30px;
  }